<% if user_signed_in? %>
	<h1> You are totally logged in!!</h1>
<% else %>
	<div class="center hero-unit">
		<h1>Welcome to first rails app page</h1>
		<p>You've found the home page for my first app to <%= link_to "link outbound", "http://www.all-athletics.com/node/45258‎" %>
		</p>
		<p>
			Find me in <%= link_to "running news", "http://www.sacramentorunning.com/tag/neville-davey" %>
		</p>
		<p><%= link_to "Sign up Now!", new_user_registration_path, class: "btn btn-primary btn-large" %>
		</p>
	</div>
<% end %>
