<div class="center hero-unit">
	<h1>Welcome to first rails app page</h1>
	<p>You've found the home page for my first app to <%= link_to "link outbound", "http://www.all-athletics.com/node/45258‎" %>
	</p>
	<p>
		Find me in <%= link_to "running news", "http://www.sacramentorunning.com/tag/neville-davey" %>
	</p>
	<p><%= link_to 'Sign up Now!', "#", class: "btn btn-large-primary" %>
	</p>
</div>
